<div class = "loginfield">
    <h2 class = "title">Вход</h2>

    <div>
      <%= form_with scope: :session, url:session_path, data: {turbo: false } do |form| %>
        <p><%= form.text_field :nickname, placeholder: "Ник", class: 'btn_edit_q' %></p>

        <p><%= form.password_field :password, placeholder:"Пароль",  class: 'btn_edit_q' %></p>

        <p class="mt-lg"><%= form.submit 'Войти', class: 'BtnQ ' %></p>

      <% end %>

    </div>

</div>