
<div class=" container">
  <div>
    <%= form_with model: @user do |form| %>

      <p><%= form.label :nickname ,'Your nickname' %></p>
      <p><%= form.text_field :nickname %></p>

      <p><%= form.submit 'Registr' %></p>

    <% end %>
  </div>
</div>
