

<div id="subscriptions_container">
<% @subscriptions.each do |sub|%>
  <% player = get_username_summary(sub["player_id"]) %>
      <div id= "sub_container">
        <p><%= image_tag "#{player["avatar"]}", id: "sub_image" %>
      <div class="sub_info">
        <p style="font-family: 'Overwatch Small'; font-size: x-large; letter-spacing: 2px"><%= link_to "#{player["username"]}", "/username/#{player["username"]}" %></p>
        <p><%= player["title"] %></p>
      </div>
    </div>
    <%end%>
</div>