<%= form_with url: "/get_username", method: :get, class: "search",  local: true  do |form| %>

  <p><%=form.text_field :facc %></p>
  <button  type="submit" class="submit"><i class="fa fa-search"></i></button>

<% end %>

<%=@response %>