<div class="wrapperwiki">



  <div id="heroesContainer">
     <%= image_tag "heroes.jpg", class: "imageWiki", url: "/wiki/heroes" %>
  </div>

  <div id="mapsContainer">
    <%= image_tag "maps.jpg", class: "imageWiki", url: "/wiki/maps"  %>
  </div>

  <div id="gamemodesContainer" >
    <%= image_tag "gamemodes.jpg", class: "imageWiki", url: "/wiki/gamemodes" %>
  </div>


</div>
