<div class="wrapperwiki">



  <div id="heroesContainer">
    <%= link_to   "/wiki/heroes"  do %>
      <%= image_tag("heroes.jpg", class: "imageWiki") %>
    <% end %>
  </div>

  <div id="mapsContainer">
    <%= link_to image_tag( "maps.jpg", class: "imageWiki") , "/wiki/maps"  %>
  </div>

  <div id="gamemodesContainer" >
    <%= link_to image_tag( "gamemodes.jpg", class: "imageWiki"), "/wiki/gamemodes"%>
  </div>



</div>
