<div class="mapsMainContainer">
  <% @maps_by_gamemode.each  do |gamemode, map| %>

    <div class="mapContainer" >
      <p id="mapHeader" ><%= gamemode %></p>
            <% map.each do |oneMap|  %>
        <div class="oneMapContainer">
            <%= image_tag "#{oneMap["screenshot"]}", id: "mapImage" %>
            <p style="margin-top: 0"><%= link_to "#{oneMap['name']}", "/wiki/maps/#{oneMap["id"]}", class: "mapLink" %></p>
        </div>

        <% end %>
    </div>
  <% end %>

</div>