.error_img
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(sombra-error.jpg);
}

.error_container {
    display: flex;
    align-content: center;
    background-image: url(sombra-error.jpg);
}


.error_container img
{
    max-width: 100%;
    height: auto;
    backdrop-filter: blur(2px);
}

.error_text
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200vh;
    height: 110vh;
    z-index: 1;
    color: white;
    background-image: url(sombra-error.jpg);
    font-size: 80px;
    font-family: "Overwatch Small", "serif";

    letter-spacing: 1px;
}
