#mainHeroTitle
{
    #float: left;
    border: 5px solid white;
    #overflow: hidden;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 10, 0.62);
    margin-left: 20%;
    margin-right: 20%;

}

a:hover
{
    color: wheat;
}

#mainHeroTitle p
{
    #color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 3px auto 0 0;

}
#hPortrait
{

    width: 500px;
    height: 200px;
    border-radius: 10px;
    max-width: 100%;
    border: 3px solid white;

}
#abilities
{
    font-family: "Overwatch Large", "serif";
    font-weight: bold;

}

#abilImage
{
    max-width: 85px;
    max-height: 85px;
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-radius: 100px;
    padding: 16px;

}

#abl
{
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
}

#abilTitle
{
    display: block;
    min-width: 280px;
    margin: 3px 0 3px 0;
    padding: 10px 0 0 0 ;
    justify-content: center;
    text-align: center;
}

#abilTitle p
{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    font-family: "Overwatch Large", "serif";

}

#abilContent
{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgba(0, 0, 10, 0.62);
    backdrop-filter: blur(5px);

}

#abilContent p
{
    font-family: "Overwatch Small", "serif";
    letter-spacing: .1rem;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    max-width: 750px;
}

