.space-between
{
    display: flex;
    justify-content: space-between;

}

#heroPortrait
{
    width: 75px;
    height: 75px;
    border-radius: 10px;
}
#heroClass
{
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(112, 135, 182, 0.62);
    text-align: center;
}

#heroTitle
{
    display: flex;
    width: auto;
    height: auto;
    background-color: #185875;
}
#heroTitle div:nth-child(even)
{
    background-color: #d6e2ff;
}

#heroTitle div:nth-child(odd)
{
    background-color: #d6e2ff;
}

#role
{
#background-color: #d6e2ff;
}

#link a
{
    text-decoration: none;
    color: white;
}
#link
{
    text-align: center;
}
