body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
}

.navbar
{
    background-color: rgba(119, 19, 0, 1);
    /*background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);*/
    padding: 0 5px 0 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 20px;
}


.login{
    order: 1;
    font-family: "Overwatch Small";
    font-size: 20px
}

.navbar .logo a
{
    color: #ffffff;
    text-decoration: none;
    font-family: "Overwatch Large";
    font-size: 40px;
    padding: 1px;
}


.navbar .login a
{
    color: #ffffff;
    text-decoration: none;
    font-family: "Overwatch Large";
    font-size: larger;
    font-weight: bold;
    padding: 2px;
}
.navbar .login a:hover{
    color: #fb8b07;
}

.flash
{
    margin: 0px;
    padding: 0px;
    background: bisque;
    font-size: large;
    color: #0E1119;
}

.logo
{
    color: white;
    background-color: #c76c2b;
    border-radius: 10px;
    font-size: 45px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 5px;

}

.logo a:hover{
    color: #ffffff;
}

a:hover
{
    color: wheat;
}
.btn{
    font-family: "Bebas Neue Bold";
    font-size: 15px;
    background-color: coral;
    border-radius: 3px;
}

.search
{
    display: flex;
    justify-content: center;
}

.search p
{
    margin: 5px;
}
.search label
{
    font-size: larger;
    font-family: "Trebuchet MS";
    font-weight: bold;
}

.search #username
{
    display: block;
    width: 400px;
    height: 23px;
    padding: 0;
    background: rgb(57, 67, 87);
    font-family: "Trebuchet MS";
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
    color: white;

    /*border: 2px solid #524b4a;*/

}


@media (max-width: 500px)
{
    .search #username
    {
        width: 300px;
    }
}

.search button
{
    background: rgba(255, 98, 38, 0.71);
    border-radius: 8px;
}



.wrapper
{
    flex: 1;
    min-height: 870px;
    /*padding: 0px 10px 10px 10px;*/
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(7px);
    /*border-radius: 40px 40px 0% 0%;*/
}


footer {
    background-color: rgba(220, 219, 219, 1); /* Цвет фона вашего футера */
    color: rgba(117, 117, 40, 0.94); /* Цвет текста вашего футера */
    padding: 20px;
    display: flex;
    min-height: 30px;
    justify-content: space-between;
    font-weight: bold;
    font-size: 17px;
}

#content{
    #margin: 10px;
    /*padding: 0px 50px 0px 50px;*/
}

#secondbackgr{
    background-image: url(background-2.jpeg);
    background-size: 100% auto;
    '''background-color: rgba(0, 0, 0, 0.63);
    min-height: auto;
}
