body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.navbar
{
    background-color: rgba(119, 19, 0, 1);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 20px;
}

.navbar a
{
    color: white;
    text-decoration: none;
    font-family: "Overwatch Large", "serif";
}


.login{
    order: 1;
    font-family: "Overwatch Small", "serif";
    font-size: 20px
}


.flash
{
    margin: 0px;
    padding: 0px;
    background: rgba(255, 228, 196, 0.66);
    font-size: x-large;
    color: #0E1119;
}

.logo
{
    color: white;
    background-color: #c76c2b;
    border-radius: 10px;
    font-size: 45px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 5px;

}

.logo a:hover{
    color: #ffffff;
}

a:hover
{
    color: wheat;
}

.btn{
    font-family: "Bebas Neue Bold", "serif";
    font-size: 15px;
    background-color: coral;
    border-radius: 3px;
}

.simple_button
{
    color: white;
    font-family: "Overwatch Small", "serif";
    font-size: larger;
    text-align: center;
    border-radius: 10px;
    border: rgba(14, 17, 25, 0) solid ;
    background: #761300;
    min-width: 90px;
    min-height: 30px;
}

.simple_button:hover
{
    color: wheat;

}

.search{
    display: flex;
    justify-content: center;
    align-items: center;


}

.search p
{
margin: 5px;
}

.search label
{
    font-size: larger;
    font-family: "Trebuchet MS", serif;
    font-weight: bold;
}

.search #username
{
    display: block;
    width: 400px;
    height: 20px;
    min-width: 50px;
    padding: 2px;
    background: rgba(255, 255, 255, 0.78);
    font-family: "Trebuchet MS", "serif";
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}

.search button
{
    background: rgba(255, 98, 38, 0.71);
    border-radius: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 2px solid rgba(148, 41, 41, 0.3);
}

.search button:hover
{
    background: rgba(255, 72, 0, 0.84);
    width: 35px;
    height: 35px;
}

.link_and_button_user_container
{
    display: flex;
    justify-items: center;
    justify-content: center;
}

.wrapper
{
    flex: 1;
    min-height: 870px;
    /*padding: 0px 10px 10px 10px;*/
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(7px);
    /*border-radius: 40px 40px 0% 0%;*/
}


footer
{
    background-color: rgba(220, 219, 219, 1); /* Цвет фона вашего футера */
    color: rgba(117, 117, 40, 0.94); /* Цвет текста вашего футера */
    padding: 20px;
    display: flex;
    min-height: 30px;
    justify-content: space-between;
    font-weight: bold;
    font-size: 17px;
}

#content
{
    #margin: 10px;
    /*padding: 0px 50px 0px 50px;*/
}

#secondbackgr
{
    background-image: url(background-2.jpeg);
    background-size: 100% 100%;
    '''background-color: rgba(0, 0, 0, 0.63);
    min-height: auto;
}

#welcome_text
{
    font-family: "Overwatch Small";
    letter-spacing: 3px;
    font-size: xxx-large;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.header_text
{
    font-size: 35px;
    margin-bottom: 5px;
    margin-top: 0;
}

@media (max-width: 1000px ) {

    .header_text
    {
        font-size: large;
    }

    .logo
    {
        font-size: 20px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .simple_button
    {
        padding: 1px 0 1px 0;
    }
    #welcome_text
    {
        font-size: x-large;
    }


}

@media (max-width: 700px)
{
    #username
    {
        max-width:200px ;
    }

    .navbar div a
    {
        font-size: small;
    }
    .link_and_button_user_container a
    {
        font-size: small;
    }
}