#subscriptions_container
{
    display: flex;
    justify-content: flex-start;


}

#sub_container
{
    background-color: rgba(50, 60, 80, 0.48);
    margin-bottom: 10px;
    margin-right: 10px;
    #justify-content: left;
    #justify-items: left;
    #text-align: left;
    #flex-direction: column;
    display: flex;
    #max-width: 200px;
}


#sub_image
{
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.4);
    width: 100px;
}

.sub_link
{
    text-decoration: none;
    color: white;
}